<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wafer Fault Detection ML API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
</head>
<body>
    <header>
        <h1>Welcome to Wafer Fault Detection</h1>
        <p>Ensure the quality of your manufacturing process with advanced fault detection technology.</p>
    </header>

    <main>
     <section class="cta">
            <h2>Get Started Today</h2>
            <p>Improve your manufacturing process and product quality with our Wafer Fault Detection system.</p>
            <a href="/predict" class="btn">Go to Dashboard</a>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Wafer Fault Detection</p>
    </footer>
</body>
</html>